# Initially taken from Github's Python gitignore file

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/
model/chinese_L-12_H-768_A-12.zip
model/chinese_L-12_H-768_A-12/bert_config.json
star_data/oriData/offical_data/test_XNLI/XNLI-1.0/.DS_Store
model/chinese_L-12_H-768_A-12/bert_model.ckpt.index
model/chinese_L-12_H-768_A-12/bert_model.ckpt.meta
model/chinese_L-12_H-768_A-12/vocab.txt
star_data/oriData/offical_data/XNLI-Train.zip
star_data/oriData/offical_data/test_XNLI.zip
star_data/oriData/offical_data/XNLI-Train/XNLI-MT-1.0/.DS_Store
star_data/oriData/offical_data/XNLI-Train/XNLI-MT-1.0/multinli/multinli.train.ar.tsv
star_data/oriData/offical_data/XNLI-Train/XNLI-MT-1.0/multinli/multinli.train.bg.tsv
star_data/oriData/offical_data/XNLI-Train/XNLI-MT-1.0/multinli/multinli.train.de.tsv
star_data/oriData/offical_data/XNLI-Train/XNLI-MT-1.0/multinli/multinli.train.el.tsv
star_data/oriData/offical_data/XNLI-Train/XNLI-MT-1.0/multinli/multinli.train.en.tsv
star_data/oriData/offical_data/XNLI-Train/XNLI-MT-1.0/multinli/multinli.train.es.tsv
star_data/oriData/offical_data/XNLI-Train/XNLI-MT-1.0/multinli/multinli.train.fr.tsv
star_data/oriData/offical_data/XNLI-Train/XNLI-MT-1.0/multinli/multinli.train.hi.tsv
star_data/oriData/offical_data/XNLI-Train/XNLI-MT-1.0/multinli/multinli.train.ru.tsv
star_data/oriData/offical_data/XNLI-Train/XNLI-MT-1.0/multinli/multinli.train.sw.tsv
star_data/oriData/offical_data/XNLI-Train/XNLI-MT-1.0/multinli/multinli.train.th.tsv
star_data/oriData/offical_data/XNLI-Train/XNLI-MT-1.0/multinli/multinli.train.tr.tsv
star_data/oriData/offical_data/XNLI-Train/XNLI-MT-1.0/multinli/multinli.train.ur.tsv
star_data/oriData/offical_data/XNLI-Train/XNLI-MT-1.0/multinli/multinli.train.vi.tsv
star_data/oriData/offical_data/XNLI-Train/XNLI-MT-1.0/multinli/multinli.train.zh.tsv
star_data/oriData/offical_data/XNLI-Train/XNLI-MT-1.0/xnli/.DS_Store
star_data/oriData/offical_data/XNLI-Train/XNLI-MT-1.0/xnli/xnli.dev.en.jsonl
star_data/oriData/offical_data/XNLI-Train/XNLI-MT-1.0/xnli/xnli.dev.en.tsv
star_data/oriData/offical_data/XNLI-Train/XNLI-MT-1.0/xnli/xnli.test.en.jsonl
star_data/oriData/offical_data/XNLI-Train/XNLI-MT-1.0/xnli/xnli.test.en.tsv
star_data/oriData/offical_data/XNLI-Train/__MACOSX/._XNLI-MT-1.0
star_data/oriData/offical_data/XNLI-Train/__MACOSX/XNLI-MT-1.0/._multinli
star_data/oriData/offical_data/XNLI-Train/__MACOSX/XNLI-MT-1.0/._xnli
star_data/oriData/offical_data/XNLI-Train/__MACOSX/XNLI-MT-1.0/._.DS_Store
star_data/oriData/offical_data/XNLI-Train/__MACOSX/XNLI-MT-1.0/multinli/._multinli.train.ar.tsv
star_data/oriData/offical_data/XNLI-Train/__MACOSX/XNLI-MT-1.0/multinli/._multinli.train.bg.tsv
star_data/oriData/offical_data/XNLI-Train/__MACOSX/XNLI-MT-1.0/multinli/._multinli.train.de.tsv
star_data/oriData/offical_data/XNLI-Train/__MACOSX/XNLI-MT-1.0/multinli/._multinli.train.el.tsv
star_data/oriData/offical_data/XNLI-Train/__MACOSX/XNLI-MT-1.0/multinli/._multinli.train.es.tsv
star_data/oriData/offical_data/XNLI-Train/__MACOSX/XNLI-MT-1.0/multinli/._multinli.train.fr.tsv
star_data/oriData/offical_data/XNLI-Train/__MACOSX/XNLI-MT-1.0/multinli/._multinli.train.hi.tsv
star_data/oriData/offical_data/XNLI-Train/__MACOSX/XNLI-MT-1.0/multinli/._multinli.train.ru.tsv
star_data/oriData/offical_data/XNLI-Train/__MACOSX/XNLI-MT-1.0/multinli/._multinli.train.sw.tsv
star_data/oriData/offical_data/XNLI-Train/__MACOSX/XNLI-MT-1.0/multinli/._multinli.train.tr.tsv
star_data/oriData/offical_data/XNLI-Train/__MACOSX/XNLI-MT-1.0/multinli/._multinli.train.ur.tsv
star_data/oriData/offical_data/XNLI-Train/__MACOSX/XNLI-MT-1.0/multinli/._multinli.train.vi.tsv
star_data/oriData/offical_data/XNLI-Train/__MACOSX/XNLI-MT-1.0/multinli/._multinli.train.zh.tsv
star_data/oriData/offical_data/XNLI-Train/__MACOSX/XNLI-MT-1.0/xnli/._.DS_Store
star_data/oriData/offical_data/test_XNLI/XNLI-1.0/README.md
star_data/oriData/offical_data/test_XNLI/XNLI-1.0/xnli.dev.jsonl
star_data/oriData/offical_data/test_XNLI/XNLI-1.0/xnli.dev.tsv
star_data/oriData/offical_data/test_XNLI/XNLI-1.0/xnli.test.jsonl
star_data/oriData/offical_data/test_XNLI/XNLI-1.0/xnli.test.tsv
star_data/oriData/offical_data/test_XNLI/__MACOSX/._XNLI-1.0
star_data/oriData/offical_data/test_XNLI/__MACOSX/XNLI-1.0/._.DS_Store
star_data/oriData/offical_data/test_XNLI/__MACOSX/XNLI-1.0/._README.md
star_data/oriData/offical_data/test_XNLI/__MACOSX/XNLI-1.0/._xnli.dev.tsv
star_data/oriData/offical_data/test_XNLI/__MACOSX/XNLI-1.0/._xnli.test.tsv
star_data/oriData/star_data/test.tsv
star_data/oriData/star_data/test.zip
star_data/oriData/star_data/train.tsv
star_data/oriData/star_data/train.zip
model/chinese_L-12_H-768_A-12/bert_model.ckpt.data-00000-of-00001
